{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row text-center">

 <h1>EXCODE</h1>


<ul class="nav nav-pills">

  <li class="nav-item"><a href="{{ 'app_home'}}" class="nav-link">Acceuil</a></li>

      <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Decouvrir</a></li>


       <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Informations</a></li>

      <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Contact</a></li>

    </ul>

<table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>description</th>
            </tr>
        </thead>

<tbody>
{% for  name in names %}

            <tr>
                <td><img src ="{{name.image}}" ></td>
                <td>{{ name.name }}</td>
                <td>{{ name.description}}</td>
                
    
            </tr>
        {% else %}
            <tr>
                <td colspan="3"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


     




   {% endblock %}

