{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
<style>
.hide{
    display:none;
}
</style>
<link rel="stylesheet" href="/css/inscription.css">
{% endblock %}

{% block body %}
<!--DEBUT DU HEADER-->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
    
              <a class="navbar-brand" href="#"> <img class="img-fluid" src="/img/logo/nav-logo.png" alt="logo"></a>
    
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
    </header>
    <!--FIN DU HEADER-->

    <!--DEBUT DU MAIN-->
    <main>

      <div class="container-fluid">
        {{ form_start(registrationForm) }}
          <div class="row">
                    
              <div class="row col-11 offset-1">
                <h2>Inscription</h2>
              </div>

              <div class="row py-5">
                <p class="col-4 offset-1">Veuillez remplir les informations suivantes</p>
                <p class="col-4 offset-2">Choississez votre avatar</p>
              </div>

              <div class="col-3 offset-2">
                
              
                  <div  class="input">
                    <i class="corner corner-top-left"></i>
                    <i class="corner corner-top-right"></i>
                    {{ form_widget(registrationForm.email)}}
                    <i class="corner corner-bottom-left"></i>
                    <i class="corner corner-bottom-right"></i>
                  </div>
      
                  <div class="input">
                    <i class="corner corner-top-left"></i>
                    <i class="corner corner-top-right"></i>
                    {{ form_widget(registrationForm.pseudo) }}
                    <i class="corner corner-bottom-left"></i>
                    <i class="corner corner-bottom-right"></i>
                  </div>
              
                  <div class="input">
                    <i class="corner corner-top-left"></i>
                    <i class="corner corner-top-right"></i>
                    {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
                    <i class="corner corner-bottom-left"></i>
                    <i class="corner corner-bottom-right"></i>
                  </div>
      

               <!-- registration_form_agreeTerms"-->


       {{ form_widget(registrationForm.avatar) }}
              </div>
              
            <div class="col-6 text-center">
              
  
              <div class="avatar py-6"> 
                  
                  {% for  avatar in avatars %}
                  <label class="av" for="man">
                    <img class="avatar21" src ="/img/avatar/{{avatar.image}}" data-id="{{avatar.id}}" ></td>
                  </label>
                  {% endfor %}
              </div>
  
              <div class="button text-center py-6">
                  <button class="btn btn-success" type="submit">S'inscrire</button>
              </div>
            </div>
            
          </div>

        </div>
        
       {{ form_end(registrationForm) }}
      </div>
   
    </main>
    <!--FIN DU MAIN-->


{% endblock %}


{% block  javascripts %}
<script>


 let avatar = document.querySelectorAll(".avatar21")
 var selectedAvatarLabel = null;

 console.log(avatar);
 avatar.forEach(function(element){
 element.addEventListener("click", (e)=>{

    // si on avait deja cliqué sur un avatar, on supprime la class selected
    if (selectedAvatarLabel != null){
        selectedAvatarLabel.classList.remove('selected');
    }

    // on ajoute la classe selected sur le nouveau
    e.target.parentNode.classList.add('selected');

    // on mémorise sur qui on a ajoute la classe, pour pouvoir la supprimer la prochaine fois
    selectedAvatarLabel = e.target.parentNode;
 
    //console.log(e.currentTarget.dataset.id)

    // enregistre l'id de l'avater choisi
    document.getElementById('registration_form_avatar').value = e.currentTarget.dataset.id;
 })
 })


</script>
{% endblock %}

