{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/home-gaming.css">
{% endblock %}

{% block header %}

<header>

        <nav class="navbar navbar-expand-lg pb-5">
            <div class="container-fluid justify-content-between">

                <a class="navbar-brand col-1" href="#"> <img class="img-fluid" src="/img/logo/nav-logo.png" alt="logo"></a>
                <div class="bg-nav col-3">
                    <div class="pt-5">

                        <a href="{{ path('app_game_statistiques') }}" class="ps-7">
                            <img class="img-fluid" src="/svg/icone/game-nav/icone-statistique.svg" alt="icone-statistique">
                        </a>

                        <a href="{{ path('app_game_recompense') }}" class="ps-6">
                            <img class="img-fluid" src="/svg/icone/game-nav/icone-trophees.svg" alt="icone-trophées">
                        </a>

                        <a href="{{ path('app_logout') }}" class="ps-6">
                            <img class="img-fluid" src="/svg/icone/game-nav/icone-exit.svg" alt="icone-exit">
                        </a>

                    </div>
                </div>
            </div>
        
        </nav>

</header>

{% endblock %}



{% block body %}
    <body>
    

    <!--MAIN-->
        <main>

            <div class=" container-fluid">

                <div id="home-bienvenue">
                    <div>
                        {# <img class="img-fluid" src="/svg/graphism/welcome.svg" alt=""> #}

                        <svg width="618" height="145" viewBox="0 0 618 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Bienvenue" clip-path="url(#clip0_522_10016)">
                                <path id="Vector" d="M618.001 10.8047V101.808H92.8979L97.7507 97.1881H613.141V15.4179H97.7507L92.8979 10.8047H618.001Z" fill="#FFB13C"/>
                            <g id="Group">
                                <path id="Vector_2" d="M70.3796 4.63342L16.0269 56.303L70.3796 107.973L81.7241 97.1882L124.732 56.303L70.3796 4.63342ZM70.3796 91.0035L33.863 56.303L70.3796 21.6026L106.882 56.303L70.3796 91.0035Z" fill="#FFB13C"/>
                                <path id="Vector_3" d="M5.66869 56.3031L38.0206 25.5414L35.1898 22.8503L8.00995 48.6886L0 56.3031L8.00995 63.9176L48.2654 102.186L51.082 99.4949L5.66869 56.3031Z" fill="#409BFF"/>
                            </g>
                                <path id="Vector_4" d="M509.301 0H325.569L309.351 15.4179H525.527L509.301 0Z" fill="#FFB13C"/>
                                <path id="Vector_5" d="M235.246 107.979L219.042 123.397H162.242L139.532 145H41.7949L67.5487 120.517L80.7236 107.979H235.246Z" fill="#409BFF"/>
                                <path id="Vector_6" d="M151.38 145L164.364 132.658H229.273L255.24 107.979H462.945L449.969 120.315H255.24L229.273 145H151.38Z" fill="#FFB13C"/>
                                <path id="Vector_7" d="M70.3796 36.825L49.8901 56.3031L70.3796 75.7677L90.8549 56.3031L70.3796 36.825Z" fill="#409BFF"/>
                                <text id="BIENVENUE !" fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Batman" font-size="40" letter-spacing="0em"><tspan x="138.279" y="69.0222">BIENVENUE {{ app.user.pseudo }}!</tspan></text>
                            </g>
                            <defs>
                                <clipPath id="clip0_522_10016">
                                    <rect width="618" height="145" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>

                    </div>

                    <div class=" pt-5 ">
                       {# <img class="img-fluid py-5" src="/svg/graphism/description-gaming.svg" alt=""> #}
                        
                         <!-- DEBUT SVG RECAP -->
                        
                            <svg width="620" height="216" viewBox="0 0 620 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="description-gaming">
                                <g id="cadre-gaming">
                                <g id="Group">
                                <path id="Vector" d="M67.1074 58.8891C69.7793 59.9247 70.7056 62.2348 69.1942 64.0471L74.021 65.9191L76.7708 62.6331L79.5207 59.3471L82.2705 56.0611L77.4437 54.1891C75.9225 56.008 72.5291 56.6387 69.867 55.6097L67.1172 58.8957L67.1074 58.8891Z" fill="#FFB13C"/>
                                <path id="Vector_2" d="M78.0972 45.7317C80.769 46.7673 81.6953 49.0775 80.1838 50.8898L85.0108 52.7618L87.7606 49.4758L90.5105 46.1898L93.2603 42.9038L88.4335 41.0317C86.9123 42.8507 83.5188 43.4813 80.8567 42.4524L78.1069 45.7384L78.0972 45.7317Z" fill="#FFB13C"/>
                                <path id="Vector_3" d="M89.0869 32.5812C91.7587 33.6168 92.6851 35.927 91.1737 37.7392L96.0006 39.6113L98.7504 36.3253L101.5 33.0393L104.25 29.7533L99.4233 27.8812C97.9021 29.7001 94.5087 30.3308 91.8466 29.3019L89.0967 32.5879L89.0869 32.5812Z" fill="#FFB13C"/>
                                <path id="Vector_4" d="M34.1289 98.3544C36.8007 99.39 37.7271 101.7 36.2157 103.512L41.0426 105.384L43.7924 102.098L46.5422 98.8124L49.2921 95.5264L44.4653 93.6544C42.9441 95.4733 39.5507 96.104 36.8886 95.075L34.1387 98.361L34.1289 98.3544Z" fill="#FFB13C"/>
                                <path id="Vector_5" d="M45.1187 85.1969C47.7905 86.2325 48.7169 88.5427 47.2054 90.355L52.0322 92.227L54.7821 88.941L57.5319 85.655L60.2818 82.369L55.4549 80.4969C53.9337 82.3159 50.5404 82.9465 47.8783 81.9176L45.1284 85.2036L45.1187 85.1969Z" fill="#FFB13C"/>
                                <path id="Vector_6" d="M56.1084 72.0465C58.7802 73.0821 59.7066 75.3923 58.1952 77.2046L63.022 79.0766L65.7719 75.7906L68.5217 72.5046L71.2716 69.2186L66.4447 67.3466C64.9235 69.1655 61.53 69.7961 58.868 68.7672L56.1182 72.0532L56.1084 72.0465Z" fill="#FFB13C"/>
                                </g>
                                <g id="Group_2">
                                <path id="Vector_7" d="M369.863 201.794C365.631 201.794 362.208 204.131 362.208 207.005C362.208 209.88 365.64 212.216 369.863 212.216C374.085 212.216 377.508 209.88 377.508 207.005C377.508 204.131 374.075 201.794 369.863 201.794ZM369.863 216C362.569 216 356.64 211.964 356.64 206.998C356.64 202.033 362.569 198.003 369.863 198.003C377.157 198.003 383.085 202.04 383.085 206.998C383.085 211.957 377.147 216 369.863 216Z" fill="#FFB13C"/>
                                <path id="Vector_8" d="M22.652 174.265L0 151.136L126.863 0H246.042L242.747 3.78387H130.091L6.54302 150.984L25.6262 170.474H384.334L381.799 174.265H22.652Z" fill="#FFB13C"/>
                                <path id="Vector_9" d="M377.195 200.771L372.251 199.031L393.899 170.473H527.432L613.584 53.1733L565.218 3.78386H322.735L326.021 0H568.192L620 52.9011L530.874 174.264H397.292L377.195 200.771Z" fill="#FFB13C"/>
                                </g>
                                </g>
                                <text id="text-content" fill="#FFFDFB" fill-opacity="0.99" xml:space="preserve" style="white-space: pre" font-family="Orbitron" font-size="20" font-weight="bold" letter-spacing="0em"><tspan x="110" y="83.18">Allez-vous trouver les indices qui vous </tspan><tspan x="110" y="108.18">permettront de revenir &#xe0; la r&#xe9;alit&#xe9; ? &#10;</tspan></text>
                                </g>
                            </svg>


                        <!-- FIN SVG RECAP -->
                    </div>
                </div>

                <div id="home-score">
                    
                    <div>
                        <h6 class="pt-7">Trophées</h6>
                        <div class="pb-5">
                            <img class="img-fluid" src="/svg/graphism/trophee-gaming.svg" alt="">
                            <img class="img-fluid" src="/svg/graphism/trophee-gaming.svg" alt="">
                            <img class="img-fluid" src="/svg/graphism/trophee-gaming.svg" alt="">
                            <img class="img-fluid" src="/svg/graphism/trophee-gaming.svg" alt="">
                        </div>

                        <div>
                            {# <img src="/svg/graphism/recap-game.svg" alt=""> #}
                            
                            <!-- DEBUT SVG RECAP -->
                            <svg width="618" height="231" viewBox="0 0 618 231" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <style type="text/css">
                                    @font-face {
                                        font-family: "Batman";
                                        src: url('/font/batman.ttf') format("truetype");
                                    }
                                </style>
                                <g id="recap-game">
                                <g id="Frame" clip-path="url(#clip0_319_10495)">
                                <g id="Group">
                                    <path id="Vector" d="M523.57 103.408H133.473V148.408H523.57L549.206 125.912L523.57 103.415V103.408ZM521.446 143.896H138.615V107.914H521.446L541.947 125.905L521.446 143.896V143.896Z" fill="#FFB13C"/>
                                </g>
                                <g id="Group_2">
                                    <path id="Vector_2" d="M565.739 163.234H175.642V208.234H565.739L591.376 185.738L565.739 163.241V163.234ZM563.615 203.722H180.777V167.74H563.615L584.117 185.731L563.615 203.722V203.722Z" fill="#FFB13C"/>
                                </g>
                                <g id="Group_3">
                                    <path id="Vector_3" d="M86.6391 62.334V66.6913H31.9976V111.022C31.1596 110.92 30.3067 110.863 29.4387 110.863C28.5708 110.863 27.7179 110.92 26.8799 111.022V62.334H86.6391Z" fill="#00FFC8"/>
                                    <path id="Vector_4" d="M170.742 182.81V187.167H26.8682V140.67C27.7062 140.772 28.5591 140.829 29.4271 140.829C30.295 140.829 31.1479 140.772 31.9859 140.67V182.803H170.742V182.81Z" fill="#00FFC8"/>
                                </g>
                                    <path id="Vector_5" d="M128.58 122.984V127.342H46.9426C46.9949 126.845 47.0249 126.354 47.0249 125.845C47.0249 124.87 46.9201 123.914 46.7031 122.984H128.573H128.58Z" fill="#00FFC8"/>
                                <g id="Group_4">
                                <g id="Group_5">
                                    <path id="Vector_6" d="M49.2996 122.985C47.8481 115.57 40.8149 109.773 31.9935 108.83C31.1555 108.728 30.3025 108.684 29.4346 108.684C28.5667 108.684 27.7137 108.728 26.8757 108.83C16.9544 109.894 9.29272 117.111 9.29272 125.852C9.29272 134.592 16.9544 141.809 26.8757 142.873C27.7137 142.975 28.5667 143.02 29.4346 143.02C30.3025 143.02 31.1555 142.975 31.9935 142.873C41.3461 141.873 48.7085 135.401 49.5091 127.349C49.5764 126.852 49.5914 126.361 49.5914 125.852C49.5914 124.877 49.4866 123.921 49.2996 122.991V122.985ZM31.9935 140.675C31.1555 140.777 30.3025 140.834 29.4346 140.834C28.5667 140.834 27.7137 140.777 26.8757 140.675C18.391 139.611 11.8516 133.381 11.8516 125.852C11.8516 118.322 18.391 112.085 26.8757 111.028C27.7137 110.926 28.5667 110.869 29.4346 110.869C30.3025 110.869 31.1555 110.926 31.9935 111.028C39.3858 111.945 45.2892 116.799 46.7108 122.991C46.9352 123.921 47.0325 124.883 47.0325 125.852C47.0325 126.361 46.9951 126.852 46.9502 127.349C46.1496 134.197 39.932 139.688 31.9935 140.675V140.675Z" fill="#F9F9F9"/>
                                    <path id="Vector_7" d="M51.9106 122.984C50.3918 114.378 42.2139 107.606 31.9858 106.632C31.1478 106.543 30.2949 106.498 29.427 106.498C28.559 106.498 27.7061 106.543 26.8681 106.632C15.5477 107.708 6.72632 115.92 6.72632 125.845C6.72632 135.77 15.5552 143.981 26.8681 145.057C27.7061 145.147 28.559 145.191 29.427 145.191C30.2949 145.191 31.1478 145.147 31.9858 145.057C42.7376 144.038 51.2447 136.585 52.0603 127.342C52.1276 126.845 52.1426 126.354 52.1426 125.845C52.1426 124.87 52.0603 123.914 51.9032 122.984H51.9106ZM31.9858 140.675C31.1478 140.777 30.2949 140.834 29.427 140.834C28.559 140.834 27.7061 140.777 26.8681 140.675C18.3834 139.611 11.8441 133.381 11.8441 125.851C11.8441 118.321 18.3834 112.085 26.8681 111.027C27.7061 110.925 28.559 110.868 29.427 110.868C30.2949 110.868 31.1478 110.925 31.9858 111.027C39.3781 111.945 45.2815 116.799 46.7031 122.991C46.9276 123.921 47.0248 124.883 47.0248 125.851C47.0248 126.361 46.9874 126.851 46.9425 127.348C46.1419 134.196 39.9243 139.687 31.9858 140.675V140.675Z" fill="#FF5600"/>
                                </g>
                                    <path id="Vector_8" d="M29.427 133.368C34.3031 133.368 38.2559 130.002 38.2559 125.851C38.2559 121.699 34.3031 118.334 29.427 118.334C24.551 118.334 20.5981 121.699 20.5981 125.851C20.5981 130.002 24.551 133.368 29.427 133.368Z" fill="#FFB13C"/>
                                </g>
                                    <path id="Vector_9" d="M166.371 215.203V192.314H122.451L107.517 205.049V231.008H285.823L304.378 215.209H166.371V215.203ZM283.698 226.644H112.635V206.851L124.569 196.678H161.253V219.567H292.018L283.705 226.644H283.698Z" fill="#409BFF"/>
                                    <path id="Vector_10" d="M298.197 228.822L311.635 217.381H446.014L432.576 228.822H298.197Z" fill="#409BFF"/>
                                    <path id="Vector_11" d="M18.5557 192.314V170.718L0 154.92V231.007H30.5046L57.3729 208.131H97.6791L116.25 192.32H18.5557V192.314ZM5.11777 226.643V165.437L13.4304 172.515V196.671H103.874L95.5616 203.761H55.2554L28.3722 226.637H5.11777V226.643Z" fill="#FF5600"/>
                                    <path id="Vector_12" d="M217.608 22.7643L231.216 34.1465H13.6005V74.6178L0 86V0H27.201L54.402 22.7643H217.608Z" fill="#409BFF"/>
                                    <path id="Vector_13" d="M55.2553 215.203L36.6848 231.001H99.1825V215.203H55.2628H55.2553ZM94.0573 226.644H49.0601L57.3727 219.567H94.0573V226.644Z" fill="#409BFF"/>
                                    <path id="Vector_14" d="M83.1861 45.7637H29.4346V57.2047H83.1861V45.7637Z" fill="#409BFF"/>
                                    <path id="Vector_15" d="M94.5366 219H56.9497V228H94.5366V219Z" fill="#409BFF"/>
                                    <path id="Vector_16" d="M285.888 218H111.622V227H285.888V218Z" fill="#409BFF"/>
                                    <path id="Vector_17" d="M161.737 204H111.622V219H161.737V204Z" fill="#409BFF"/>
                                    <path id="Vector_18" d="M61.5329 223.966L53.7607 217.482L45.2506 225.346L53.0227 231.83L61.5329 223.966Z" fill="#409BFF"/>
                                    <path id="Vector_19" d="M294.197 221.484L286.425 215L277.915 222.863L285.687 229.347L294.197 221.484Z" fill="#409BFF"/>
                                    <path id="Vector_20" d="M131.99 199.761L124.218 193.277L112.761 203.863L120.533 210.347L131.99 199.761Z" fill="#409BFF"/>
                                    <path id="Vector_21" d="M161.738 204L161.738 195L125.29 195L125.29 204L161.738 204Z" fill="#409BFF"/>
                                <g id="Derniere partie : JJ/MM/AAAA">
                                    <text id="date-last-game" fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Orbitron" font-size="25" letter-spacing="0em"><tspan x="387.457" y="75.1"> {{ date|date('d/m/Y') }}</tspan></text>
                                    <text fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Batman" font-size="25" letter-spacing="0em"><tspan x="94" y="75.1">Derniere partie :</tspan></text>
                                </g>
                                <g id="Rang : 0000">
                                    <text id="rang" fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Orbitron" font-size="25" letter-spacing="0em"><tspan x="252.252" y="134.1">{{ rang }}</tspan></text>
                                    <text fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Batman" font-size="25" letter-spacing="0em"><tspan x="150.347" y="134.1">Rang</tspan><tspan x="246.685" y="134.1">:</tspan></text>
                                    <text fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Batman" font-size="25" letter-spacing="0em"><tspan x="233.648" y="134.1"> </tspan></text>
                                </g>
                                <g id="Score : 0000">
                                    <text id="score-last-game" fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Orbitron" font-size="25" letter-spacing="0em"><tspan x="310.981" y="195.1"> {{ score }}</tspan></text>
                                    <text fill="#F9F9F9" xml:space="preserve" style="white-space: pre" font-family="Batman" font-size="25" letter-spacing="0em"><tspan x="187.934" y="195.1">Temps :</tspan></text>
                                </g>
                                </g>
                                    <path id="Vector_22" d="M584.847 43.5859H80.3789V88.5859H584.847L618 66.0892L584.847 43.5925V43.5859ZM582.1 84.0734H87.0192V48.0919H582.1L608.612 66.0826L582.1 84.0734V84.0734Z" fill="#FFB13C"/>
                                </g>
                                    <defs>
                                        <clipPath id="clip0_319_10495">
                                            <rect width="590" height="231" fill="white"/>
                                        </clipPath>
                                    </defs>
                            </svg>

                            <!-- FIN SVG RECAP -->

                        </div>                    
                    </div>
                </div>

                <div id="home-face">
                
                    <div>
                        <video autoplay>
                            <source src="/videos/home-gaming/visage-cyan.mp4" type="video/mp4">
                        </video>
                    </div> 

                </div>

                <div id="home-profil">
                    <div class="d-flex pb-4">
                        <img class="img-fluid" src="/svg/graphism/icone-profil-gaming.svg" alt="">
                        <h3 class="ps-5">Profil</h3>
                    </div>

                    <div>
                        <h5>Reconnaissance System</h5>
                    </div>

                    <div>
                        <p>Veuillez présenter votre oeil devant le scanner rétinien afin d'effectuer une identifaction biométrique.</p>
                    </div>

                    <div class="d-flex pt-5 pb-4">
                        <h4>Scanner</h4>
                        <h5 class="ps-4">Rétinien</h5>
                    </div>

                    <div class="pb-4">
                        <img class="img-fluid" src="/svg/graphism/scanner-retinien.svg" alt="">
                    </div>
                </div>

                <div id="home-jouer">
                    <div class=" play d-flex align-items-center">
                        <div class="ps-7">
                            <a href="{{ path('app_game_slide') }} ">Jouer</a>
                        </div>
                    </div>
                </div>
                

            </div>

        </main>

    </body>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
{% endblock %}

